body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background-image: url('test.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center; 
	color:white;
}

.character-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px; /* Added vertical space */
}

.images {
    display: flex;
    justify-content: center;
}

.character-card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.character-card img {
    width: 220px;
    height: 220px;
}

.character-card p {
    margin: 5px 0 0 0;
    font-weight: bold;
    text-align: center;
}

.arrow-button {
    background-color: rgb(153, 102, 51);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.arrow-button:hover {
    background-color: rgb(153, 102, 51);
    transform: scale(1.1);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 30px; /* Extra space above buttons */
}

button {
    background-color: rgb(153, 102, 51);
    color: white;
    padding: 10px 20px;
    margin: 0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px; 
    transition: background-color 0.3s ease;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Pokemon Solid';
    font-size: 40px; 
    font-weight: bold;
    margin: 0 0 20px 0;
    border-radius: 5px;
    background-color: rgb(153, 102, 51);
    padding: 10px;
    width: 100%; 
}

button:hover {
    background-color: rgb(191, 128, 64);
}