body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background-color: rgb(153, 102, 51);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.exit-button:hover {
    background-color: darkred;
}

#enemy {
    position: absolute;
    width: 45px;
    height: 55px;
    background-image: url('villager4.png'); 
    background-repeat: no-repeat;
    background-position: 0 0;
}


.pixel-art {
   image-rendering: pixelated;
}

.camera {
    width: 800px; 
    height: 600px; 
    overflow: hidden;
    position: relative;
    background-color: lightblue;
}

.map {
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.buttonContainer button {
    padding: 10px 20px;
    font-size: 16px;
}

.sound-box {
    position: absolute;
    top: 625px;
    left: 10px;
    background-color: rgba(0, 0, 0, 1);
    padding: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-box button {
    background-color: rgb(4, 45, 4);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.material-symbols-outlined {
    font-size: 48px;
    color: red;
    position: absolute;
    top: 100px;
    right: 340px;
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
    cursor: pointer;
}
.material-symbols-outlined:active{
    transform: scale(0.8)
}

.dialog-btn {
    
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

.yes-btn {
    background-color: #4CAF50;
    color: white;
}

.yes-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.no-btn {
    background-color: #f44336;
    color: white;
}

.no-btn:hover {
    background-color: #da190b;
    transform: scale(1.05);
}