body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background-image: url('homeScreen.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
}

.welcomeScreen {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    margin: 100px;
    border-radius: 50px;
    width: 100%;
}

.US {
    height: 400px; 
    width: auto;
    background-color: transparent;
}

.textButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 400px; 
}

.title {
	color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Pokemon Solid';
    font-size: 40px; 
    font-weight: bold;
    margin: 0 0 20px 0;
    border-radius: 5px;
    background-color: rgb(153, 102, 51);
    padding: 10px;
    width: 100%; 
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%; 
}

button {
    background-color: rgb(153, 102, 51);
    color: white;
    padding: 10px 20px;
    margin: 0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(191, 128, 64);
}